<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>rpost</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<style>
    @font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'Atomy-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Atomy-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
    h1 {margin: 20px;
        padding: 15px;
        background-color: #21A68D;
        color: white;
        text-align: center;
        font-family: 'yg-jalnan';}
    textarea{resize:none;}
    
</style>

<body style="background-color:#96D9CC">
<h1>나만의 보관</h1>
<div class='container'>
    <form method = 'POST'>
        {% csrf_token %}
        <table>
        <div>
           <span style="font-family:Atomy-Bold; background-color : #B2D996; margin:10px; padding:5px; width:120px; height:40px; font-size:20px;">카테고리</span>
            {{form.title}}
        </div>
        <br>

        <div class="name">
           <span style="font-family:Atomy-Bold; background-color : #B2D996; margin:10px; padding:5px; width:120px; height:40px; font-size:20px;">무엇?</span>
           {{form.name}}
        </div>
        <br>

        <div class="body">
           <span style="font-family:Atomy-Bold; background-color : #B2D996; margin:10px; padding:5px; width:120px; height:40px; font-size:20px;">나만의 보관</span>
            <br>
            <br>
            {{form.body}}
        <div>


        </table>
        <br>
        <input class = "btn btn-primary" type = "submit" value="저장">
        <button type = "button" class="btn btn-danger" onclick="location.href='{% url 'fshow' %}'">취소</button>
    </form>
</div>
</body>

    